<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
</head>

<body>
    <div class="signup-box">
        <h1>Sign Up</h1>
        <form action="" onsubmit="signup(event)" class="form-signup">
            <label for="name" class="form-label">Name</label>
            <input type="text" placeholder="Enter your name" class="form-input" id="name" required>
            <label for="email">Email</label>
            <input type="email" placeholder="Enter your email" class="form-input" id="email" required>
            <label for="phone">Phone Number</label>
            <input type="tel" placeholder="Enter your phone no" class="form-input" id="phone" required>
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" class="form-input" id="password" required>
            <button type="submit" class="signup-btn" id="signup-btn">Sign Up</button>
        </form>
    </div>
    <p>Already have account? <a href="./login.html">Login here</a> </p>
    
</body>
</html>