body{
    background-color: rgb(125, 79, 199);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    padding-top: 15px;
}
p {
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 10px;
}
p a {
    color: #49c1a2;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
.form-input {
    width: 100%;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
    margin-top: 7px;
}
.signup-btn {
    width: 320px;
    height: 35px;
    margin-top: 41px;
    border: none;
    background-color: #0fb7cd;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}
.signup-box{
    width: 360px;
    height: 503px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    border-color: aqua;
}

.signup-box form {
    width: 300px;
    margin-left: 20px;
}
.login-box {
    width: 360px;
    height: 333px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.login-box form {
    width: 300px;
    margin-left: 20px;
}


